<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
				<div class="col">
					<h4>联系我们</h4>
					<ul>
                        <li>深圳南山区科技园科苑路科兴科学园</li>
                        <li>Tel: +86 ********* </li>
                        <li>Email: <a href="mailto:cxphp@qq.com" title="Email Us">cxphp@qq.com</a></li>
						<li>创造更便捷的建站体验！</li>
                    </ul>
				</div>
            </div>
            <div class="col-md-3">
				<div class="col">
                    <h4>邮箱列表</h4>
                    <p>如果你需要随时接受我们的最新咨询，请在下面留下你的邮箱。</p>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="你的Email地址..." />
                            <span class="input-group-btn">
                                <button class="btn btn-two" type="button">提交</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
				<div class="col col-social-icons">
                    <h4>关注我们</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                </div>
            </div>

			<div class="col-md-3">
				<div class="col">
                    <h4>关于我们</h4>
                    <p>
						CXPHP是一款基于ThinkPHP3.22开发的内容管理框架。
						<br /><br />
						<a href="http://www.cxphp.cn" class="btn btn-two">Try it now!</a>
                    </p>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
			<div class="col-lg-9 copyright">
				2013 &copy; CXPHP. All rights reserverd. 
            </div>
        </div>
    </div>
</div>